@import './style-constant';

html body {
    color: #333;
    line-height: 1.6;
    height: 100%;
    background : url(#{$imagePath}/grey-background.jpg) no-repeat center center fixed;
}

@mixin displayFlex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flexCenter {
    justify-content: center;
    align-items: center;
}

.app{
    @include displayFlex(row);
    @include flexCenter;
    height: 100%;
}

.file-manager {
    @include displayFlex(column);
    margin: 5% 5%;
    height: 600px;
    width: 60%;
    max-width: 1366px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.151);
}

.centre-align {
    text-align: center;
}

.search-files {
    @include displayFlex(row);
    @include flexCenter;
    width: 100%;
    height: 6%;
}

input {
    width: 80%;
    height: 100%;
    border : 1px solid grey;
    outline: none;
    padding: 0px 10px;
}


.directory {
    @include displayFlex(column);
    border : 1px solid grey;
    padding: 1px 10px;
    margin: 20px 5px;
    height: 100%;
    overflow-y : auto;
}

.director-actions i{
    margin-top: 15px;
    padding-right: 20px;
    right : 0;
    float:right;
    cursor: pointer;
}


.directory-record {
    @include displayFlex(row);
    justify-content: space-between;
    background-color: #9c9b9b1f;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}



.directory-record i {
    padding : 10px 5px;
    margin: 0px 5px;
}


.separator {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    padding: 5px;
    height: 1px;
    margin: 5px;
}



.info-text { 
    margin-top: 5%;
    margin-left: 1%;
}

.popup {
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.popup-header{
  margin-top: 0%;
  display: flex;
  flex-direction: row-reverse;
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 200px;
}

.popup-header h5 {
  margin: auto;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 0%;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




.m-8 {
    @include displayFlex(column);
    margin: 6%;
}

.m-8 input {
    padding: 8px;
    width: 100%;
}

.m-8 button {
    padding: 8px 5px;
}


.center-btn { 
    @include displayFlex(row);
    @include flexCenter;
    padding: 0px 30px;
    margin: 10px;
}

.empty-dir-msg { 
    @include displayFlex(column);
    @include flexCenter;
}
